#textdiv{
	position: absolute;
	
	margin-left: 30%;
      min-height:100px;
      width:260px;
      background: blue;
   


}
p{
	margin-left: 10px;
}
h2{
	text-align: center;
}
#submitMain{
	margin-left: 40%;
}
#ans{
	width:40px;
}
#submit{
	margin-left: 20px;
}
#quizDiv{
	background: yellow;
	position: absolute;
	width: 260px;
	text-align: 10px;


}
#time{
	
	
	margin-top: 20px;
}
#timer{
	display: none;
	background: red;
	width: 100px;
	height: 50px;
		

	text-align: center;
	color: white;
	font:20px bold courier;
	float:right;


}

